/* FOOTER */

@media(max-width:340px){
	.logo-footer {
	    width: 40px!important;
	}
	.logo-footer img {
		width: 100%;
	}
	.list-footer {
	    padding-left: 8px!important;
	    margin-left: 8px!important;
	}
}

@media(max-width:767px){
	#footer {
		background: #0084B7;
		color: #fff;
		padding: 15px 0;
	}	
	.logo-footer {
		float: left;
		margin: 17px 0;
	}
	.list-footer {
		float: left;
		padding-left: 15px;
		margin-left: 15px;
		border-left: 1px solid #fff;
	}
	.footer-link {
		font-weight: 300;
		font-size: 12px;
		color: #FFFFFF;
		letter-spacing: 0.57px;
		line-height: 18px;
	}
	body.sticky-footer #new-content #footer {
		position: fixed;
		width: 100%;
		bottom: 0;
		z-index: 80;
	}
	.sticky-footer #new-content #footer {
		-webkit-animation: 0.5s ease-in-out 0s normal 1 fadein;
    	animation: 0.5s ease-in-out 0s normal 1 fadein;
	}

	@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
	}
	
}
@media(min-width:768px){
	
}
@media(min-width:992px){
   
}
@media(min-width:1200px){
   
}
