body,html{
		  background: linear-gradient(-180deg, #155199 12%, #00ADEE 83%);
		  background-repeat: no-repeat;
		  height: 100%;
		}
	label,p{
		color: #fff;
	}
	h1{
		text-align: center;
	}
	a{
		text-decoration:underline;
		color: #fff;
	}
	main{
		margin-top: 20px;
	}
	input[type="email"]{
		background: #fff;
		border: 1px solid #fff;
		border-radius: 4px;
		color: #727272;
		height: 47px;
		font-size: 14px;
		padding: 10px;
		width: 100%;
		margin-top: 30px;
	}
	input[type="email"]:focus{
		outline: none;
	}
	.logo-login{
		text-align: center;
		margin-top: 10%;
		width: 100%;
		margin-bottom: 40px;
	}
	.logo-login img{
		width: 140px;
	}
	.instructions{
	    font-size: 18px;
	    font-weight: 300;
	    letter-spacing: 0.5px;
	}
	.submit-login {
	    background: #00ADEE;
	    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.13);
	    border-radius: 3px;
	    height: 70px;
	    line-height: 70px;
	    display: block;
	    text-align: center;
	    font-weight: 600;
	    font-size: 18px;
	    color: #fff;
	    margin-top: 30px;
	    letter-spacing: 0.48px;
	    border:none;
	    display: inline-block;
	    width: 100%;
	}
	.info{
		letter-spacing: 0.5px;
		font-weight: 300;
		margin-top: 30px;
	}
	.message-box{
		margin-top: 40px;
		border-top: 1px solid #fff;
		padding:20px;
		color: #fff;
		font-size: 20px;
		letter-spacing: 0.5px;
		text-align: center;
	}
	.error-message{
  		background: #da0404;
	    line-height: 28px;
	    border-radius: 4px;
	    text-align: center;
	}
	.success-message{
		background: #54B125;
	    line-height: 28px;
	    border-radius: 4px;
	    text-align: center;
	}