/* HOME */
.dashboard-li-has-noti {
	position: relative;
}
.dashboard-li-has-noti .lkn-dashboard .text {
	top: -4px;
	position: relative;
}
.box-notification-nav {
	color: #333;
	text-transform: uppercase;
	padding-right: 5px;
	margin-right: 5px;
	display: inline-block;
	margin-left: 43px;
	font-size: 11px;
	position: relative;
	top: -12px;
}
.current-page .box-notification-nav{
 	color: #fff;
}
.box-notification-nav.sublinks-nav {
	position: absolute;
	top: 44px;
    left: 15px;
}
.box-notification-nav.sublinks-nav a {
	color: #333;
}
#dashboard .table-transactions .last-th {
	width: 190px;
}

.box-notification-nav .txt-being-processed {
	position: relative;
	margin-right: 5px;
	padding-right: 5px;
}
.box-notification-nav .txt-being-processed:before {
	background: #333333;
	content:'';
	width: 1px;
    height: 11px;
    position: absolute;
    right: 0;
    top: 2px;

}
.current-page .box-notification-nav .txt-being-processed:before{
	background: #fff;
}
@media(max-width:340px){
	.box-account {
		margin-right: 15px!important;
		padding: 10px 15px 10px 15px!important;
	}
}

@media(max-width:767px){
	.box-notification-nav {
	    top: -4px;
	    text-transform: uppercase;
	    display: block;
	}
	#dashboard .header {
		background-image: linear-gradient(-180deg, #155199 12%, #0084B7 83%);
	}
	#dashboard .logo-header {
		text-align: center;
		margin: 10px 0 0 0 ;
	}
	.title-welcome {
		text-align: center;
		font-size: 16px;
		color: #FFFFFF;
		letter-spacing: 0.58px;
		margin: 30px 0 15px 0;
	}
	.box-account-header {
		background: #FFFFFF;
		box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.30);
		border-radius: 5px;
		float: left;
		padding: 15px 20px;
		margin-bottom: 17px;
		width: 100%;
	}
	.box-balance,
	.box-account {
		float: left;
	}
	.box-account {
		border-right: 1px solid #E5E5E5;
		margin-right: 30px;
		padding: 10px 25px 10px 20px;
	}
	.box-balance {
		padding: 4px 0;
	}
	.box-account .title {
		font-weight: 400;
		font-size: 12px;
		color: #333333;
		letter-spacing: 0.32px;
		line-height: 18px;
		margin: 0;
	}
	.account-number {
		font-weight: 900;
		font-size: 12px;
		color: #333333;
		letter-spacing: 0.29px;
		line-height: 18px;
		margin: 0;
	}
	.box-balance .title {
		font-weight: 400;
		font-size: 12px;
		color: #333333;
		letter-spacing: 0.57px;
		line-height: 18px;
		margin: 0;
	}
	.box-balance .balance-number {
		font-weight: 900;
		font-size: 28px;
		color: #333333;
		letter-spacing: 0.69px;
		line-height: 25px;
		margin: 0;
	}
	.box-balance .balance-number.negative {
		color: #f76980;
	}
	.time {
		clear: both;
		text-align: center;
		font-size: 12px;
		font-weight: 300;
		color: #FFFFFF;
		margin: 17px 0;
		letter-spacing: 0.32px;
	}
	.box-daily-updates {
		margin: 0 -15px	;
		background: #F2F2F2;
	}
	.lkn-daily {
		font-weight: 400;
		padding: 15px;
		font-size: 12px;
		color: #333333;
		letter-spacing: 0.64px;
		line-height: 17px;		
		display: block;
		position: relative;
	}
	.box-daily-updates .text {
		padding: 0px 30px 40px 60px;
		font-weight: 400;
		font-size: 14px;
		color: #333333;
		letter-spacing: 0.66px;
		line-height: 22px;
	}
	.lkn-daily .date{
		font-weight: 900;
	}
	.lkn-daily i {
		color: #939393;
		position: absolute;
	    right: 15px;
	    top: 15px;
	    font-size: 20px;
	}
	.lkn-daily.open .fa-angle-down {
		display: none;
	}
	.lkn-daily .fa-angle-up {
		display: none;
	}
	.lkn-daily.open .fa-angle-up {
		display: block;
	}
	.box-daily-updates .text {
		display: none;
	}
	.nav-dashboard {
		margin: 0 -15px;
	}
	.lkn-dashboard {
		border-bottom: 2px solid #DADADA;
		padding: 25px 15px ;
		position: relative;
		display: block;
		color: #333;
		height: 78px;
	}
	.dashboard-li:last-child .lkn-dashboard {
		border-bottom: 0;
	}

	.lkn-dashboard .text{
		font-weight: 400;
		font-size: 16px;
		color: #333333;
		letter-spacing: 0.43px;
	}
	.lkn-dashboard .icon {
		color: #00ADEE;
		margin-right: 5px;
		width: 35px;
    	display: inline-block;
    	text-align: center;
	}
	.lkn-dashboard .fa-angle-right {
		color: #939393;
		position: absolute;
		right: 15px;
		font-size: 20px;
	    top: 25px;
	}
}
@media(min-width:768px){
	.header {
		background-image: linear-gradient(-180deg, #155199 12%, #0084B7 83%);
		height: 102px;
	}
	 .logo-header {
		text-align: left;
		margin: 28px 0;
		float: left;
	}
	.name-user {
		float: right;
	    margin-top: 41px;
	    color: #FFF;
	    margin-right: 50px;
	    font-size: 16px;
	}
	.title-welcome {
		text-align: center;
		font-size: 16px;
		color: #FFFFFF;
		letter-spacing: 0.58px;
		margin: 30px 0 15px 0;
	}
	.box-account-header {
		background: #FFFFFF;
		box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.30);
		border-radius: 5px;
		float: left;
		padding: 15px 20px;
		margin: 14px 0;
		width: 521px;
	}
	.box-time,
	.box-balance,
	.box-account {
		float: left;
	}
	.box-account {
		position: relative;
		width: 133px;
	}
	.box-balance {
		position: relative;
		width: 175px;
	}
	.box-time {
		width: 172px;
	}

	.box-account-header .title {
		font-weight: 400;
		font-size: 11px;
		color: #6F6F6F;
		letter-spacing: 0.29px;
		line-height: 21px;
		text-align: center;
		margin: 0;
	}

	.account-number {
		font-weight: 600;
		font-size: 14px;
		color: #333333;
		letter-spacing: 0.34px;
		line-height: 21px;
		margin: 0;
		text-align: center;
	}	
	.balance-number {
		font-weight: 700;
		font-size: 22px;
		color: #333333;
		letter-spacing: 0.54px;
		line-height: 22px;
		margin: 0;
		text-align: center;
	}
	.time-number {
		font-weight: 700;
		font-size: 12px;
		color: #333333;
		letter-spacing: 0.32px;
		line-height: 20px;
		margin: 0;
		text-align: center;
	}
	
	
	.box-account:before,
	.box-balance:before{
		background: #CDCDCD;
		height: 43px;
		content: '';
		top: 0;
		right: 0;
		position: absolute;
		width: 1px;
	}
	.lkn-dashboard {
		padding: 25px 15px ;
		position: relative;
		display: block;
		color: #333;
		height: 78px;
		transition: all 0.2s ease-in-out;
	}
	.lkn-dashboard.dif-bg {
		background: #FFF;
	}
	.lkn-dashboard.dif-bg:hover {
		background: #eae9e9;
	}
	.lkn-dashboard:hover {
		background: #eae9e9;
	}
	.dashboard-li:last-child .lkn-dashboard {
		border-bottom: 0;
	}

	.lkn-dashboard .text{
		font-weight: 400;
		font-size: 16px;
		color: #333333;
		letter-spacing: 0.43px;
		position: relative;
    	top: 2px;
	}
	.lkn-dashboard .icon {
		color: #00ADEE;
		margin-right: 5px;
		width: 35px;
    	display: inline-block;
    	text-align: center;
	}
	.lkn-dashboard .fa-angle-right {
		display: none;
	}
	.content-nav-desktop .col-xs-12 {
		padding: 0;
		width: 315px;
	}
	#dashboard {
		min-height: 510px;
	}
	.content-nav-desktop {
		background: #F3F3F3;
		position: absolute;
		top: 102px;
		/*min-height: 100%;*/
		left: 0;
		z-index: 0;
	}
	.content-nav-desktop .lkn-logout {
		border-top: 1px solid #DADADA;
		transition: all 0.2s ease-in-out;
	}
	.content-nav-desktop .lkn-logout:hover {
		background: #eae9e9;
	}
	.table > thead > tr > th {
		text-align: center;
	}
	.table > thead > tr > th.text-left {
		text-align: left;
	}
	.dashboard-desktop.container-fluid {
		padding-left: 0px;
		padding-right: 0px;
	}
	.dashboard-desktop .top-content {
		padding-top: 30px;
	    padding-bottom: 15px;
	    float: left;
	    width: 100%;
		
	}
	.line {
		height: 1px;
		background: #E2E2E5;
		float: left;
		width: 100%;
	}
	.dashboard-desktop h1 {
		font-size: 22px;
		color:#838383;
		font-weight: 300;
    	letter-spacing: 0.5px;
    	float: left;
    	margin: 0;
	}
	.top-content .date {
		font-weight: 300;
		font-size: 14px;
		color: #838383;
		letter-spacing: 1.46px;
		text-align: right;
		margin-top: 3px;
	}
	.dashboard-desktop .table .date {
	    background: #F7F7F7;
	    border-radius: 3px;
	    color: #727272;
	    height: 37px;
	    line-height: 37px;
	    text-align: center;
		font-weight: 300;
	}
	
	.dashboard-desktop .title-dashborad-desktop {
    	
		font-weight: 500;
		font-size: 20px;
		color: #9B9B9B;
		letter-spacing: 0.54px;
		margin: 20px 0 20px 0;
	}
	.dashboard-desktop .title {
    	color: #333333;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.5px;
		margin: 2px 0 10px 0;
	}
	.dashboard-desktop .subtitle {
	    margin: 0;
	    font-weight: 400;
	    font-size: 10px;
	    color: #333333;
	    letter-spacing: 0.27px;
	}
	.balance-transition {
		text-align: right;
		font-weight: 600;
		margin-right: 0;
		display: inline-block;
		width: 100px;
	}

	#dashboard .balance-transition {
		width: 100%;
		text-align: center;
	}

	.latest-update-desktop {
		background: #F2F2F2;
		padding: 30px 60px 30px;
		border-radius: 5px;
		color: #7F7F7F;
	}
	.latest-update-desktop strong {
		padding-right: 5px;
	}
	.latest-update-desktop .update-title {
		margin-bottom: 10px;
	}
	.latest-update-desktop p a {
		color: #7F7F7F;
		text-decoration: underline!important;
		font-size: 12px;
	}
	form#quick-donation {
		border: 1px solid #DADADA;
		padding: 30px;
		border-radius: 5px;
	}
	form#quick-donation .form-group:first-child {
		position: relative;
	}
	form#quick-donation label {
		color: #767676;
		font-size: 12px;
		text-transform: uppercase;
		margin: 0 0 10px 0;
	}
	form#quick-donation .input-text {
		height: 42px;
    	padding: 10px 12px;
	}
	form#quick-donation .add-notes {
		color: #767676;
		font-size: 12px;
	}
	.less-note {
		display: none;
	}
	.make-donation  .checkbox-box {
		font-weight: 400;
		font-size: 13px;
		color: #333333;
		letter-spacing: 0.56px;
		line-height: 19px;		
	}
	.make-donation .ckeckbox {
		position: relative;
	}
	.checkbox-box .ckeckbox:before {
		width: 19px;
	    height: 19px;
	    position: absolute;
	    content: '';
	    background: #00ADEE;
	    border-radius: 125px;
	    z-index: 9;
	    top: 7px;
	    left: 4px;
	    opacity: 0;
	    visibility: hidden;
	}
	.checkbox-box .ckeckbox.active:before {
		opacity: 1;
		visibility: visible;
	}
	.make-donation .ckeckbox .text {
		margin-left: 40px;
		display: block;
		font-weight: 400;
		color: #333;
		font-size: 13px;
		letter-spacing: 0.56px;
		line-height: 19px;
	}
	.make-donation .ckeckbox .text p {
		padding-left: 18px!important;
    	background-position: 0 3px;

	}
	.ckeckbox .circle {
		background: #F4F4F4;
		border-radius: 125px;
		border: 1px solid #00ADEE;
		height: 27px;
		top: 3px;
		position: absolute;
		width: 27px;
	}
	.btn-make-a-donation {
		background: #00adee;
		box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.12);
		border-radius: 5px;
		font-size: 16px;
		color: #FFFFFF;
		width: 100%;
		height: 55px;
	}
	.btn-make-a-donation:hover {
		background: #0187B9;
		color: #FFF;
	}
	.type-transactions {
		font-weight: 400;
		letter-spacing: 0.56px;
		display: inline-block;
		margin: 0;
	}
	.view-more-transactions {
		background: transparent;
		display: block;
		border: 1px solid #00ADEE;
		border-radius: 5px;
		font-weight: 500;
		font-size: 15px;
		color: #878787;
		margin: 35px auto;
		letter-spacing: 0.37px;
		padding: 11px 0;
		width: 253px;
	}

	.view-more-transactions:hover {
		background: #00ADEE;
		border: 1px solid #00ADEE;

		color: #fff;
	}
	.box-account-header {
	    margin-left: -50%;
	  }
}	
@media(min-width:992px){
 	.box-account-header {
      margin-left: -25%;
    }  
}
@media(min-width:1200px){
 	.box-account-header {
      margin-left: 0px;
    }  
   
}

