/* LOGIN */
::-webkit-input-placeholder {
   color: #727272 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #727272 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #727272 !important;
}

:-ms-input-placeholder {  
   color: #727272 !important;
}
#login {
  background: #000;
  height: 100%;
  position: absolute;
  
  background-image: linear-gradient(-180deg, #155199 12%, #00ADEE 83%);
  width: 100%;
}
.logo-login img {
  width: 140px;
}
.logo-login {
  top: 50%;
  text-align: center;
  margin: 0;
  position: absolute;
  margin-top: -28px;
  width: 100%;
  transition: all .4s cubic-bezier(.17,.67,.83,.67);
}
.container-login {
  opacity: 0;
  visibility: hidden;
  transition: all .3s ease-out .5s;
  /*display: none;*/
  /*background: #000;*/
}
.container-login label {
  color: #FFFFFF;
  font-family: 600;
  font-size: 12px;
  display: block;
  letter-spacing: 0.5px;
}
.container-login input {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #727272 ;
  height: 47px;
  font-size: 14px;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none; 
}

.login-form {
  padding: 0 15px;
}
.forgot-pass {
  font-weight: 600;
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0.56px;
  line-height: 19px;
}

.loaded .logo-login {
  top: 10%; 
}
.loaded .container-login {
  opacity: 1;
  visibility: visible;
}
.container-login {
  top: 50%;
  margin-top: -147px;
  display: block;
  position: absolute;
  height: 295px;
  width: 100%;
}
.submit-login {
  background: #00ADEE;
  box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.13);
  border-radius: 3px;
  height: 70px;
  line-height: 70px;
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-top: 37px;
  letter-spacing: 0.48px;  
}
.wrong-user{
  display: inline-block;
  background: #da0404;
  border-radius: 4px;
  padding: 3px 0;
  text-align: center;
  width: 100%;
  color: #fff;
  letter-spacing: 0.5px;
}
@media(max-width:767px){
	
}
@media(min-width:768px){
	
}
@media(min-width:992px){
   
}
@media(min-width:1200px){
   
}

