@import 'header.css';
@import 'footer.css';

/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,400italic,700);

@media(max-width:767px){
	
}
@media(min-width:768px){
	
}
@media(min-width:992px){
   
}
@media(min-width:1200px){
   
}

