@import 'header.css';
@import 'footer.css';

/* FONTS */
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,300italic,400italic,700,900);


/* DASHBOARD */


/* MODAL SEARCH */

.modal-search .modal-header{
	border: 0;
	
}
.modal-search .modal-body {
	padding-bottom: 0;
}
.modal-search .modal-header .close {
    margin-top: -7px;
    font-size: 30px;
}
.modal-search .label{
	color: #767676;
	display: block;
	font-weight: 600;
	font-size: 12px;
	text-align: left;
	letter-spacing: 0.5px;
	padding: 0;
	width: 100%;
}

.modal-search .row-input {
	width: 100%;
	vertical-align: top;
}
.modal-search .checkbox-input {
	border-radius: 4px;
	border: 1px solid #BBBBBB;
	display: inline-block;
	height: 36px;
	margin-right: 10px;
	text-align: center;
	width: 36px;
    transition: all .2s ease-out;
}
.modal-search .checkbox-input i {
	font-size: 20px;
	line-height: 36px;
	color: #00ADEE;
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-out;
}

.modal-search .input {
	background: #fff;
	border: 1px solid #BBBBBB;
	border-radius: 3px;
	color: #B0B0B0;
	padding: 7px 12px;
	vertical-align: top;
	display: inline-block;
	width: 80%;
	  -webkit-appearance: none; 
	  transition: all .2s ease-out;
} 
.modal-search .error .checkbox-input i ,
.modal-search .active .checkbox-input i {
	opacity: 1;
	visibility: visible;
}
.modal-search .active .checkbox-input ,
.modal-search .active .input {
	border: 1px solid #00ADEE;
}
.modal-search .error .checkbox-input ,
.modal-search .error .input {
	border: 1px solid #FC2E2E;
	color: #FC2E2E;
}
.modal-search .error .checkbox-input i {
	color: #FC2E2E;
}
.btn-search {
	background: #00ADEE;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #fff;
	text-align: center;
	display: block;
	padding: 20px;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.43px;
	margin: 25px -15px 0 -15px;
}
/* drop-down-sort */
.drop-down-sort {
	position: absolute;
	width: 238px;
	right: 7px;
    top: 53px;
    visibility: hidden;
    opacity: 0;
    transition: all .18s ease-out;
}
.drop-down-sort.active {
	top: 59px;
	opacity: 1;
	visibility: visible;
}
.container-sortby {
	background: #FFFFFF;
	box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.31);
	border-radius: 5px;
}
.list-sortby {
	display: block;
	width: 100%;
}
.sortby-li {
	display: block;
}
.title-sortby {
	font-weight: 700;
	font-size: 10px;
	color: #5D5C5D;
	letter-spacing: 0.36px;
	line-height: 1;
	padding: 15px 15px;
	margin: 0;
}
.sortby-lkn {
	display: block;
	padding: 17px 15px;
	font-weight: 400;
	font-size: 14px;
	color: #5D5C5D;
	letter-spacing: 0.5px;
	line-height: 1;
	/* opacity: 0.69; */
	border-top: 1px solid #E2E2E5;
}


@media(max-width:767px){
	.section {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	
	
	/* transactions */
	.main-transactions .header-fixed {
		height: 285px;
	}
	.main-transactions .header {
		height: 285px;
		width: 100%;
		position: fixed;
		z-index: 2;
        background-image: linear-gradient(-180deg, #155199 12%, #488DBF 83%);
	}
	.header-mobile-transactions .go-back {
	    height: 50px;
	    color: #fff;
	    position: absolute;
	    width: 50px;
	    text-align: left;
	    font-size: 40px;
	    margin-top: 0px;
	}
	.header-mobile-transactions .title {
		text-align: center;
		margin: 20px 0;
		line-height: 1;
		font-weight: 900;
		font-size: 20px;
		color: #FFFFFF;
		letter-spacing: 0.54px;		
	}
	.header-mobile-transactions {
		font-weight: 900;
		font-size: 20px;
		color: #fff;
		letter-spacing: 0.54px;
	}
	.nav-transactions {
		border: 1px solid #FFFFFF;
		border-radius: 4px;
		clear: both;
		float: left;
		margin-top: 10px;
		width: 100%;
	}
	.nav-transactions-li {
		display: inline-block;
		font-weight: 900;
		float: left;
		letter-spacing: 0.44px;
		text-transform: uppercase;
		position: relative;
		border-right: 1px solid #fff;
		width: 33.3%;
	}
	.nav-transactions-li:last-child {
		border-right: 0;
	}
	.nav-transactions-lkn {
		font-size: 12px;
		color: #FFFFFF;
		display: block;
		padding: 10px 0;
		text-align: center;
	}
	.nav-transactions-lkn.active {
		background: #FFF;
		color: #155199;
	}

	
	.main-transactions .box-account-header {
		background: #FFFFFF;
		box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.30);
		border-radius: 5px;
		float: left;
		padding: 5px 20px 3px 20px;
		margin-top: 30px;
		margin-bottom: 14px;
		width: 100%;
	}
	.main-transactions .box-account {
		float: left;
		border-right: 1px solid #E5E5E5;
		margin-right: 30px;
		margin-left: 20px;
		padding: 4px 25px 4px 20px;
	}
	.main-transactions .box-account .title  {
		float: left;
		font-weight: 400;
		font-size: 12px;
		color: #333;
		letter-spacing: 0.32px;
		line-height: 20px;
		margin: 0;
	}
	.main-transactions .box-account .account-number {
		font-weight: 900;
		font-size: 12px;
		color: #333333;
		letter-spacing: 0.32px;
		line-height: 20px;
		margin: 0;
	}
	.main-transactions .box-balance {
		padding: 4px 0;
		float: left;
	}
	.main-transactions .box-balance .title {
		font-weight: 400;
		font-size: 12px;
		color: #333333;
		letter-spacing: 0.57px;
		line-height: 18px;
		margin: 0;
	}
	.main-transactions .box-balance .balance-number {
		font-weight: 900;
		font-size: 20px;
		color: #333333;
		letter-spacing: 0.69px;
		line-height: 25px;
		margin: 0; 
	}
	.main-transactions .time-update {
		font-weight: 400;
		text-align: center;
		font-size: 11px;
		color: #FFFFFF;
		margin: 0 0 14px 0;
		letter-spacing: 0.29px;
	}
	.navigator-transactions {
		margin: 0 -15px;
		background: #F7F7F7;
		box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.12);
		height: 51px;
		clear: both;
	}
	.navigator-transactions-li {
		float: left;		
		position: relative;
		width: 28%;
	}
	.navigator-transactions-li:before {
		background: #DEE1E6;
		content: '';
		height: 100%;
		position: absolute;
		right: 0;
		width: 1px;
	}
	.navigator-transactions-li:last-child:before {
		display: none;	
	}
	.navigator-transactions-li:last-child {
		width: 16%;
		position: relative;
	}
	.navigator-transactions-lkn {
		display: block;
		position: relative;
		padding: 17px 0;
		text-align: center;
		font-weight: 900;
		font-size: 12px;
		color: #333333;
		letter-spacing: 0.44px;
	}
	.navigator-transactions-lkn.active {
		color: #00ADEE;
		background: #fff;
	} 
	.container-table {
		margin-left: -15px;
		margin-right: -15px;
	}
	.table-transactions {
		float: left;
		margin: 0 0 40px 0;
	}
	.table-transactions.table > tbody > tr > td {
		vertical-align: middle;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.table-transactions.table > tbody > tr{
		padding: 0 15px	;
	}
	.table-transactions.table > tbody > tr > td {
		border-top: 0;
		border-bottom: 1px solid #E2E2E5;
	}
	.table-transactions .desc-table .title {
		color: #333333;
		font-weight: 600;
		font-size: 14px;
		letter-spacing: 0.5px;
		margin: 2px 0 2px 0;
	}
	.table-transactions .date {
		background: #F7F7F7;
		border-radius: 3px;
		color: #727272;
		height: 37px;
		line-height: 37px;
		text-align: center;
		font-weight: 600;
		font-size: 12px;
		letter-spacing: 0.18px;
		margin-left: 10px;
	}
	.table-transactions .desc-table .subtitle {
		margin: 0;
		font-weight: 400;
		font-size: 10px;
		color: #333333;
		letter-spacing: 0.27px;
	}
	.balance-transition {
		text-align: right;
		display: block;
		font-weight: 600;
		margin-right: 10px;
	}
	.balance-transition i {
		margin-left: 8px;
		font-size: 17px;
	}
	.balance-down .balance-transition  {
		color: #00ADEE;	
	}
	.balance-up .balance-transition  {
		color: #97D361;
	}
	.balance-down .fa-caret-up {
		display: none;
	}
	.balance-up .fa-caret-down {
		display: none;
	}
	/* transactions */

	.main-transactions.main-transactions-result .header-fixed ,
	.main-transactions.main-transactions-result .header {
		height: 168px;
	}
	.title-transactions-result {
		float: left;
		color: #fff;
		text-align: center;
		height: 57px;
		background: #0084B7;
		width: 100%;
	}
	.title-transactions-result .title-transactions {
		font-weight: 600;
		font-size: 13px;
		color: #FFFFFF;
		letter-spacing: 0.35px;
		margin: 22px 0;
	}

}
@media(min-width:768px){
	
}
@media(min-width:992px){
   
}
@media(min-width:1200px){
   
}

