/*
	AAC DONATE
*/

/* General Styles */

::-webkit-input-placeholder {
   color: #fff !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff !important;
}

:-ms-input-placeholder {  
   color: #fff !important;
}
body, 
html {
	background: #fff;
	height: 100%;
	font-size: 14px;
	position: relative;

	-moz-transition: all .0s ease-in-out;
	-webkit-transition: all .0s ease-in-out;
	transition: all .0s ease-in-out;
}
ul,ol {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}


a { 
	text-decoration: none !important;
}
a:focus,
a:active{
	outline: none;
}
a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
	display: block;
}
.img-responsive {
	width: 100%;
}


/* SECTION */

.transition {
  transition: all 0.3s ease-in-out;
}

/****** Media Queries ******/


@media(max-width:767px){
	
}
@media(min-width:768px){
	
}
@media(min-width:992px){
   
}
@media(min-width:1200px){
   
}
