/*
	AAC DONATE
*/

/* General Styles */

::-webkit-input-placeholder {
   color: #B0B0B0 !important;
}

:-moz-placeholder { /* Firefox 18- */
   color: #B0B0B0 !important;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #B0B0B0 !important;
}

:-ms-input-placeholder {  
   color: #B0B0B0 !important;
}
body, 
html {
	background: #fff;
	height: 100%;
	font-size: 14px;
	font-family: 'Lato', sans-serif;
	position: relative;

	-moz-transition: all .0s ease-in-out;
	-webkit-transition: all .0s ease-in-out;
	transition: all .0s ease-in-out;
}
ul,ol {
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
}


a { 
	text-decoration: none !important;
}
a:focus,
a:active{
	outline: none;
}
a:hover {
	text-decoration: none;
}
.clear {
	clear: both;
	display: block;
}
.img-responsive {
	width: 100%;
}


/* SECTION */

.transition {
  transition: all 0.3s ease-in-out;
}

/* MODAL GRAL */

.modal-gral .modal-body {
	padding: 0;
}
.modal-gral .row-modal {
	border-bottom: 1px solid #E2E2E5;
	padding: 13px 25px;
}
.modal-gral .row-modal .col {
	width: 49.5%;
    display: inline-block;
}
.modal-gral .row-modal:last-child {
	border-bottom: 0;
}

.modal-gral .row-modal .subtitle-modal ,
.modal-gral .row-modal .info-modal {
	margin: 0;
}
.modal-gral .title-modal {
	font-weight: 700;
	font-size: 13px;
	color: #00ADEE;
	margin: 7px 0 5px 0;
	letter-spacing: 0.35px;
}

.modal-gral .subtitle-modal {
	font-weight: 700;
	font-size: 10px;
	color: #333333;
	letter-spacing: 0.36px;
	line-height: 19px;
}

.modal-gral .half-row-modal {
	display: inline-block;
	width: 49%;
}
.modal-gral .close {
    position: absolute;
    right: 20px;
    top: 15px;

}
.modal-gral .info-modal {
	font-weight: 400;
	font-size: 14px;
	color: #333333;
	letter-spacing: 0.5px;
	line-height: 19px;
}
.modal-gral .lkn-bottom-modal {
	background: #00ADEE;
	border-bottom-right-radius: 6px;	
	border-bottom-left-radius: 6px;	
	color: #FFFFFF;
	display: block;
	text-align: center;
	padding: 22px 0;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 0.43px;

	width: 100%;
}
.view-all-dontation {
	text-align: center;
	display: block;
	font-weight: 700;
	font-size: 11px;
	color: #00ADEE;
	margin: 5px 0 ;
	letter-spacing: 0.29px;
}
.btns-options {
	display: inline-block;
    width: 100%;
}
.btns-options a {
    display: block;
    text-align: center;
    padding: 22px 0;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.43px;
    width: 50%;
}
.btns-options .left-bt {
	background: #E7E7E7;
	color: #00ADEE;
	float: left;
	border-bottom-left-radius: 6px;
}
.btns-options .right-bt {
	background: #00ADEE;
	color: #FFFFFF;
	float: right;
	border-bottom-right-radius: 6px;
}

/* EMPTY STATE */

.empty-state {
	padding: 40px 0;
	font-size: 18px;
	color: #5D5C5D;
	text-align: center;
}
.empty-state p {
	padding: 0 80px;
}
.empty-action {
	background: #00ADEE;
    border-radius: 6px;
    color: #fff;
    display: block;
    text-align: center;
    padding: 22px 0;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.43px;
    width: 100%;
    margin-top: 40px;
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.15);
}

/****** Media Queries ******/


@media(max-width:767px){
	
}
@media(min-width:768px){
	
}
@media(min-width:992px){
   
}
@media(min-width:1200px){
   
}
